@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.TreatName)
    @Html.EditorFor(model => model.TreatName)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to treats", "Index")</p>