@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h2>Add a treat</h2>

<h4>Add a new treat with this flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back", "Index")</p>