@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FlavorName)
    @Html.TextBoxFor(model => model.FlavorName)

    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Add new flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>