@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if(@Model.Treats.Count == 0)
{
  <p>There are no treats with this flavor.</p>
}
else
{
  <h4>Treats with in this flavor:</h4>
  <ul>
    @foreach(var join in Model.Treats)
    {
      <li>@join.Treat.TreatName</li>
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId })</p>
